.we-deliver-img-component{
    text-align: center;
    display: inline-block;
    padding: 2vh;
    
    .widc-image-holder{
        background-color: white; 
        border-radius: 50%; 
        padding: 2vh; 
        width: max-content;

        .wdic-img{
           
            height: 100px;
        }
        
    }
    
    .wdic-text{
        margin: 0;
        margin-top: 1vh;
        font-size: 18px; 
        font-weight: 600;
    }
}

