.contact-us-section{
    color: white;
    background-color: #000; 
    padding: 5vh;
    .logo-footer{
        max-height: 250px; 
        max-width: 250px;
    }
    .cu-heading{
        color: white;
        font-size: 36px; 
        font-weight: 800;
        margin-top: 5vh; 
    }
    .cu-subtext{
        color: white;
    }

    .btn-text{
        font-weight: 700;
    }

    .footer-last{
        padding-top: 5vh;
       height: min-content; 
    }

    .footer-last-inline{
        display: inline-flex;
        justify-content: space-between;
    }

    .footer-last-copy{
        margin-top: 1.2vh;
    }

    .footer-last-link {
        @extend .footer-last-copy; 
        text-decoration: none;
        color: white;
    }
    
    a:hover  {
        color: #ffbb00;
    }
}